# OS-specific files
.DS_Store
Thumbs.db

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
venv/

# VS Code
.vscode/
.history/

Good by zivil - Spotify Playlist - MP4
tracks-info.json
tracks.json
.cache
cookies.txt
cookies (1).txt
tracks-info.json
.cache
tracks-info.json
tracks.json
